.luna{
    position:sticky;
    left:0px;
    }
.bandana{
    position: absolute;
    bottom:75px;
    left:105px;
}
.pawprint{
    position:fixed;
    top: 45px;
    left:65px;
}
.funny-glasses{
    position:relative;
    top:-106px;
    left:210px;
}